h2 {
  display: flex;
  justify-content: center;
}
article span {
  margin-top: 1em;
  margin-left: 1em;
}
.profilePic {
  margin-top: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
}
/* label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
} */

main div {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}

textarea {
  /* outline: 0; */
  border-width: 0 0 4px;
  border-color: hsl(226, 43%, 44%);
  background-color: #f4ecf2;
  font-weight: bold;
}

.submit-button {
  background-color: hsl(226, 43%, 44%);
  font-family: "Bungee", cursive;
  color: #ffffff;
}

.counter {
  font-family: "Bungee", cursive;
}

.overCharCount {
  color: red;
}

.validation-error {
  border-style: solid;
  border-width: 4px;
  border-color: rgba(255, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  font-size: small;
  padding: 0.5em;
}

#scroll-to-top {
  background-color: blue;
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
  position: fixed;
  right: 1em;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
